.nav-item.breadcrumb {
    background-color: transparent;
    padding: 7px;
}

.navbar-header{
  .navbar-brand{
    b{
      color: white;
    }
  }
}

.user_icon{
  font-size: 30px;
}


.dropdown-user{
  i{
    padding-right: 5px;
    font-size: 20px;
  }

}

.topbar{
  background: #4d80ad;
}


header.topbar {
  height: 50px !important;
}

.topbar .top-navbar .navbar-header {
  // line-height: 65px;
  line-height: 50px;
}


.topbar .top-navbar {
  min-height: 50px;
}


.navbar-header{
  height: 50px;
}

.navbar-collapse{
  height: 50px;
}



.topbar .top-navbar .navbar-nav > .nav-item > .nav-link {
  line-height: 30px;
}

.topbar[_ngcontent-c2] .top-navbar[_ngcontent-c2] .navbar-nav[_ngcontent-c2] > .nav-item[_ngcontent-c2] > .nav-link[_ngcontent-c2] {
  line-height: 31px;
}


.search-box .app-search input {
  padding: 11px 40px 12px 20px;
}

.search-box .app-search .srh-btn {
  top: 17px;
}


.search-box{
  margin-left: 10px;
}
