.mt-30{
  margin-top: 30px;
}

.mlr-10p{
  margin-left: 10%;
  margin-right: 10%;
}

#user_pwd_change_msg{
  margin-top: 10px;
}

#chpwd_button{
  margin-top: 30px;
}

.red{
  color: red;
}

.green{
  color: green;
}
